# -*- coding: utf-8 -*-
# vim: ft=yaml
---
openldap:
  rootdn: 'cn=root,dc=example,dc=com'
  rootpw: '{SSHA}5++yqs7UNz22kAYf7jboAmklhavVXahK'
  base: 'dc=example,dc=com'
  uri: 'ldap://ldap.example.com'
  slapd_conf: '/etc/ldap/slapd.conf'  # if no dynamic configuration on Debian
  user: 'openldap'
  group: 'openldap'
  slapd_services: 'ldap://127.0.0.1:389/ ldaps:/// ldapi:///'
  slapd_options: '-4'  # add other options here if needed
  slapd_include_dir: /etc/ldap/include
  # TLS Configuration management but this formula doesn't manage crts dir/files yet
  slapd_tls:
    enable: false
    ca: /etc/openldap/ssl/cacrt.pem
    crt: /etc/openldap/ssl/crt.pem
    key: /etc/openldap/ssl/key.pem
    cipher_suite: DEFAULT
  indexes:
    objectClass: eq
  includes:
    my_include_file_name: |
      # Each user can modify its data
      access to *
        by self write
        by users read
        by anonymous auth
