openldap:
    rootdn: 'cn=root,dc=example,dc=com'
    rootpw: '{SSHA}5++yqs7UNz22kAYf7jboAmklhavVXahK'
    base: 'dc=example,dc=com'
    uri: ldap://ldap.example.com
    slapd_conf: '/etc/ldap/slapd.conf' # if no dynamic configuration on Debian
    user: 'openldap'
    group: 'openldap'
    slapd_services: 'ldap://127.0.0.1:389/ ldaps:/// ldapi:///'
    slapd_options: '-4' # add other options here if needed
    includes:
      my_include_file: |
        content
        of
        my_include_file
    database_config:
      maxsize: 1073741824
      checkpoint: '512 30'
    overlay:
      - memberof
    tls:
      ca_cert:
        file: '/etc/ldap/ssl/ca.cert'
      cert:
        file: '/etc/ldap/ssl/ldap.cert'
      key:
        file: '/etc/ldap/ssl/ldap.key'
      cipher_suite: 'HIGH:MEDIUM:-SSLv2'
      syncrepl:
        role: consumer
        rid: 100
        config:
          provider:
            syncprov-checkpoint: '100 10'
            syncprov-sessionlog: 100
          consumer:
            provider: 'ldap://ldap-master.example.com:389'
            type: 'refreshAndPersist'
            retry: '"500 +"'
            filter: '"(objectClass=*)"'
            searchbase: '"dc=example,dc=com"'
            scope: 'sub'
            schemachecking: 'off'
            bindmethod: 'simple'
            binddn: '"cn=replicator,dc=example,dc=com"'
            credentials: 'secret'
